h1 {
  color: #e9cf7d;
  font-weight: bold;
}

h2,
p,
span {
  color: white;
}

p {
  font-size: 12px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

.baseGreen {
  background-color: #192d2e;
}

.baseBG {
  background-color: #d6dad8;
}
