<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="addUser.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>NZ Home</title>
</head>

<body>
    <div class="container">
        <div class="sidebar-container">
            <div class="sidebar">
                <div class="logo">
                    <a href="/">
                        <img src="../image/NZHome.png" alt="NZ Home Logo" />
                    </a>
                </div>
                <a href="/">
                    <div class="sidebar-item">
                        <i class="fas fa-layer-group"></i>
                        <span>Devices</span>
                    </div>
                </a>
                <a href="#">
                    <div class="sidebar-item">
                        <i class="fas fa-chart-pie"></i>
                        <span>Internet Usage</span>
                    </div>
                </a>
                <a href="#">
                    <div class="sidebar-item">
                        <i class="fas fa-wind"></i>
                        <span>Calendar</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="header">
            <h1>NZ HOME</h1>
            <a href="#" class="icon">
                <i class="fas fa-bell"></i>
            </a>
        </div>

        <!-- Main Content (Inside container now) -->
        <div class="mainContent">
            <div class="mainContent-header">
                <a class="arrow" href="#"> &larr; </a>
                <h2 class="mainHeader">Add Users</h2>
            </div>

            <div>
                <form class="username">
                    <input type="text" placeholder="Enter user name"/>
                </form>

                <form class="email">
                    <input type="text" placeholder="Enter user email"/>
                </form>

                <div class="addUser">
                    <button class="addUserBtn">+</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>