<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="settingPage.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <title>NZ Home</title>
</head>
<body>
  <div class="container">
    <div class="sidebar-container">
        <div class="sidebar">
            <div class="logo">
                <a href="/">
                    <img src="../image/NZHome.png" alt="NZ Home Logo" />
                </a>
            </div>
            <a href="/">
                <div class="sidebar-item">
                    <i class="fas fa-layer-group"></i>
                    <span>Devices</span>
                </div>
            </a>
            <a href="#">
                <div class="sidebar-item">
                    <i class="fas fa-chart-pie"></i>
                    <span>Internet Usage</span>
                </div>
            </a>
            <a href="#">
                <div class="sidebar-item">
                    <i class="fas fa-wind"></i>
                    <span>Calendar</span>
                </div>
            </a>
        </div>
    </div>

    <div class="header">
        <h1>NZ HOME</h1>
        <a href="#" class="icon">
            <i class="fas fa-bell"></i>
        </a>
    </div>

    <!-- Main Content (Inside container now) -->
    <div class="mainContent">
        <div class="mainContent-header">
          <a class="arrow" href="#"> &larr; </a>
          <h2>Settings</h2>
        </div>
        <div>
            <a href="#">
                <div class="lang">
                    <img src="../image/lang.png" alt="Languages icon"/>
                    <span>Languages</span>
                </div>
            </a>
            <a href="#">
                <div class="notif">
                    <img src="../image/notif.png" alt="Notification icon"/>    
                    <span>Notification</span>
                </div>
            </a>
            <a href="#">
                <div class="helpFeedback">
                    <img src="../image/feedback.png" alt="helpFeedback icon"/>
                    <span>Help & Feedback</span>
                </div>
            </a>
            <a href="#">
                <div class="security">
                    <img src="../image/secure.png" alt="security icon"/>
                    <span>Security</span>
                </div>
            </a>
            <a href="#">
                <div class="privacy">
                    <img src="../image/privacy.png" alt="privacy icon"/>
                    <span>Privacy</span>
                </div>
            </a>

            <br/>
            <br/>
            <br/>

            </div>
            <a href="#">
                <div class="logout">
                    <span>Log Out</span>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>